title: Siskalub
description: Ini hanya testing saja. Saya baru belajar menggunakan Github.
url: "https://lubisrezanoprial.github.io"
baseurl: "/siskalub"

permalink: /blog/:title/

markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag

collections:
  posts:
    output: true
    permalink: /blog/:title/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
