```html

    
        
            
                {{ site.title }}
                {{ site.description }}
            
            
            
                Quick Links
                
                    Home
                    Blog
                    About
                
            
            
            
                Follow Us
                
                    
                
            
        
        
        
            &copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.
        
    

```
