## 4. _includes/header.html
```html

    
        
            
            
                
                    {{ site.title }}
                
            
            
            
            
                Home
                Blog
                About
            
            
            
            
                
                    
                
                
                    
                
            
        
        
        
        
            
                Home
                Blog
                About
            
        
    

```
